body {
		width: 960px;
		font: x-small Helvetica, Arial, Sans-Serif;
		color: #333;
		line-height: 1.2em;
		margin: 0 auto;
		padding:0;
	}
article { 
	clear: both; 
	position: relative;
	font: 2.2em bold Tahoma;
	color: #aaa;
}
/* HTML5 Slider */
#container {
	position: relative;
	width:800px;
	height: 350px;
	margin: 20px 0px; 
	padding: 0px;	
}
figure {
	position: relative;
	display: block;
	margin: 0px; 
	padding: 0px;
}
figure img {
	position: absolute;
	float: left;
	display: block;
	margin: 0; 
	padding: 0;
	top: 0;
	right: 0;
}
figure.inactive img {
	display: none;
}
figure.active figcaption {
	background: #eee;
}
figure figcaption {
	position: relative;
	display: block;
	float: left;
	width: 350px;
	margin: 0px 450px 0px 0px; 
	padding: 5px 0px 5px 0px;
}
figure figcaption:hover {
	background: #eee;
	cursor: pointer;
}


